<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/about.css">
  </head>
  <body>
    <% include include/header %>
    <h1>about</h1>
    <% include include/footer %>
  </body>
</html>
